@import "node_modules/bootstrap/dist/css/bootstrap";


.navbar-nav{
  flex-direction: row;
  margin-left: auto;
}

.nav-link{
  margin-right: 20px;
}

.navbar-collapse{
  flex-grow: 0;
}

.navbar-brand{
  margin-left: 10px;
}

.main-form{
  width: 450px;
  margin: 10px auto auto auto;
}

.img{
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container{
  max-width: 50%;
  padding: 0 0;
}

.text{
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
}

.text-primary {
  color: #fc520f !important;
}

.text-secondary {
  color: #1886e6 !important;
}

.text-success {
  color: #ffee06 !important;
}

.text-info {
  color: #2eff05 !important;
}

.text-warning {
  color: #ff1727 !important;
}

.text-danger {
  color: #6be5e9 !important;
}

.text-light {
  color: #f300b6 !important;
}

.text-dark {
  color: #4675cc !important;
}

.text-white {
  color: #13d9e7d0 !important;
}

.text-body {
  color: #212529 !important;
}

.text-muted {
  color: #eb8817 !important;
}